* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(120deg,#3a3a3a, #ffffff);
    background-repeat: no-repeat;
    height: 100vh;
}


.header {
    font-size: 4rem;
    text-align: center;
}
.container, .header, .todo-box {
    
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    outline: none;
    
}
form button{
    border: none;
    background-color: #ffffff;
    padding: 0.5;
    outline: none;
}
form button:hover{
    color: green;
    outline: none;
}
li{
    font-size: 25px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
}
#no-input,#count {

    color: red;
    text-align: center;
    font-size: 1.5rem;

}
.completed {
    text-decoration: line-through;
    color: green;
}
#deleteBtn {
    font-size: 1.5rem;
    text-align: right;
    justify-content: right;
    flex-grow: 1;
}

