* {
  padding: 0px;
  margin: 0 auto;
}

body {
  background-color: aqua;
  text-align: center;
  max-width: 500px;
  
}

.header {
  font-size: 3rem;
}


.container,
#txtFieldInput {
  min-width: 200px;
  max-width: 400px;
  display: flex;
  border: none;
  flex-grow: 1;
  outline: none;
  
}



.main {
  padding: 20px;
  background-color:lightseagreen ;
  border-radius: 20px;
  border: 5px inset black ;
}

#txtFieldInput {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
}
#addTaskBtn {
  color: black;
  border: none;
  font-size: 30px;
  background-color: white;
  padding: 0.5rem;
}
#addTaskBtn:hover {
  color:green;
  
  
}

#addTaskIcon:hover {
  animation: spinnie 5s ;
}
.preSpan {
  text-indent: 5px;
  font-size: 1rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 15px;
  vertical-align: middle;
}
li {
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: darkturquoise;
  min-width: 200px;
  max-width: 400px;
  border: 3px solid gray;
  border-style: inset;
  display: flex;
  
}
li:hover, li:hover > #deleteBtn{
  background-color: gainsboro;
  transition: 0.6s;
}
li[class="completed"],
li[class="completed"] > #deleteBtn {
  background-color: green;
}
#deleteBtn {
  font-size: 2rem;
  border: none;
  background-color: darkturquoise;
  color: gray;
  flex-shrink: 1;
  margin-right: 10px;
}
#deleteBtn:hover {
  color: red;
  background-color: gainsboro;
  
}
.completed > span {
  text-decoration: line-through;
  background-color: green;
}
.msgs {
  padding: 10px;
  height: 40px;
  border:5x solid red;
}

@keyframes spinnie {
  0% {
    transform: rotate( 0deg ) scale( 1 );
  }
  10% {
    transform: rotate( 15deg ) scale( 1 );
  }
  50% {
    transform: rotate( -180deg ) scale( 1.4 );
  }
  100% {
    transform: rotate( -360deg ) scale( 1 );
  }
};