* {
  padding: 0px;
  margin: 0 auto;
}

body {
  background-color: aqua;
  text-align: center;
  width: 50%;
  
}

.header {
  font-size: 3rem;
}

.container,
#txtFieldInput {
  min-width: 200px;
  max-width: 400px;
  display: flex;
  border: none;
  flex-grow: 1;
  outline: none;
}

#txtFieldInput {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
}
#addTaskBtn {
  color: darkolivegreen;
  border: none;
  font-size: 30px;
  background-color: white;
  padding: 0.5rem;
}
.preSpan {
  background-color: none;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
}
li {
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: darkturquoise;
  min-width: 200px;
  max-width: 400px;
  border: none;
  display: flex;
}
#deleteBtn {
  font-size: 2rem;
  border: none;
  background-color: darkturquoise;
  color: white;
}
#deleteBtn:hover {
    color:red;
}
